<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OuraAccessToken</key>
	<string>YOUR_OURA_ACCESS_TOKEN_HERE</string>
	<key>VisionAPIKey</key>
	<string>YOUR_CLAUDE_API_KEY_HERE</string>
</dict>
</plist>
